<app-auth-base>
  <main class="login-modal password-modal">
    <h1>Reset your password</h1>

    <a routerLink="/login">
      <img
        class="back-arrow"
        src="../assets/img/icons/sign-up-arrow-left.svg"
        alt="Arrow to get back"
        title="Arrow to get back"
      />
    </a>

    <p class="info-text">Change your account password</p>

    <form
      [formGroup]="setPasswordForm"
      class="user-form"
      (submit)="setNewPassword()"
    >
      <div class="input-wrapper">
        <input
          formControlName="password"
          required
          [type]="passwordIsHidden ? 'password' : 'text'"
          placeholder="New password"
        />
        @if (password?.value.length > 0 && !passwordIsHidden) {
        <img
          (click)="togglePasswordVisibility()"
          id="loginPwImg"
          src="./assets/img/icons/login-password-show.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        } @else if (password?.value.length > 0) {
        <img
          (click)="togglePasswordVisibility()"
          id="loginPwImg"
          src="./assets/img/icons/login-password-hidden.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        }@else {
        <img
          id="loginPwImg"
          src="./assets/img/icons/login-password.svg"
          alt=""
        />
        }@if(password?.touched && !password?.value){
        <div class="error-msg">Please enter a new Password</div>
        }@else if(password?.touched && password?.value.length < 8){
        <div class="error-msg">must be at least 8 characters.</div>
        }
      </div>
      <div class="input-wrapper">
        <input
          formControlName="passwordRepeat"
          required
          [type]="passwordRepeatIsHidden ? 'password' : 'text'"
          placeholder="Confirm password"
        />
        @if (passwordRepeat?.value.length > 0 && !passwordRepeatIsHidden) {
        <img
          (click)="togglePasswordRepeatVisibility()"
          id="loginPwImg"
          src="./assets/img/icons/login-password-show.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        } @else if (passwordRepeat?.value.length > 0) {
        <img
          (click)="togglePasswordRepeatVisibility()"
          id="loginPwImg"
          src="./assets/img/icons/login-password-hidden.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        }@else {
        <img
          id="loginPwImg"
          src="./assets/img/icons/login-password.svg"
          alt=""
        />
        } @if(passwordRepeat?.touched && password?.value !==
        passwordRepeat?.value){
        <div class="error-msg">
          Make sure the second password you typed matches the first.
        </div>
        }
      </div>
      <app-button-wo-icon
        [content]="'Continue'"
        [colorStyle]="'main-color-style'"
        [height]="'51px'"
        [fontSize]="'21px'"
        [fontWeight]="'700'"
        [type]="'submit'"
        [disabled]="sending"
      ></app-button-wo-icon>
    </form>
  </main>
  @if(animationOverlay) {

  <div class="animation-overlay">
    <app-success-message
      [ngClass]="animationStarted ? 'animate' : ''"
      [content]="'New password set.'"
    ></app-success-message>
  </div>
  }
</app-auth-base>
