<header>
  <img
    class="header-logo"
    src="./../../../../assets/img/logos/logo_Regular.png"
    alt=""
  />
  <span>Kanban Project Management Tool</span>

  <div class="right-frame">
    <a [routerLink]="'help'">
      <img src="../assets/img/icons/header-question-mark.svg" alt="" />
    </a>

    <div class="img-ellipse">
      <img src="./assets/img/logos/ellipse.png" alt="grey ellipse" />
      <div class="img-profile-wrapper">
        <div
          onclick="toggleLogOutModal()"
          id="default-profile"
          [style.background-color]="dataManager.loggedInUser?.color"
        >
          {{ dataManager.loggedInUser?.initials }}
        </div>
      </div>
    </div>
  </div>

  <div
    id="log-out-modal-wrapper"
    class="log-out-modal-wrapper d-none"
    onclick="toggleLogOutModal()"
  >
    <div class="log-out-modal">
      <a href="help.html">Help</a>
      <a href="legal.html">Legal notice</a>
      <span onclick="doNotClose(event); logOut();">Log out</span>
    </div>
  </div>
</header>
