<header>
  <img
    class="header-logo"
    src="./../../../../assets/img/logos/logo_Regular.png"
    alt=""
  />
  <span>Kanban Project Management Tool</span>

  <div class="right-frame">
    <a [routerLink]="'help'">
      <img src="../assets/img/icons/header-question-mark.svg" alt="" />
    </a>

    <div class="img-ellipse">
      <img src="./assets/img/logos/ellipse.png" alt="grey ellipse" />
      <div class="img-profile-wrapper">
        <div
          (click)="toggleLogOutModal()"
          id="default-profile"
          [style.background-color]="dataManager.loggedInUser?.color"
        >
          {{ dataManager.loggedInUser?.initials }}
        </div>
      </div>
    </div>
  </div>

  @if (logOutModal) {

  <div
    id="log-out-modal-wrapper"
    class="log-out-modal-wrapper"
    (click)="toggleLogOutModal()"
  >
    <div class="log-out-modal">
      <a [routerLink]="'help'">Help</a>
      <a [routerLink]="'legal-notice'">Legal notice</a>
      <span (click)="logout($event)">Log out</span>
    </div>
  </div>

  }
</header>
