<app-auth-base>
  <main class="login-modal password-modal">
    <h1>I forgot my password</h1>

    <a routerLink="/login">
      <img
        class="back-arrow"
        src="./assets/img/icons/sign-up-arrow-left.svg"
        alt="Arrow to get back"
        title="Arrow to get back"
      />
    </a>

    <p class="info-text">
      Don't worry! We will send you an email with the instructions to <br />
      reset your password.
    </p>

    <form class="user-form">
      <div class="input-wrapper">
        <input
          [formControl]="email"
          required
          type="email"
          name="email"
          placeholder="Email"
        />
        <img src="./assets/img/icons/login-email.svg" alt="" />
        <div id="errorTagEmail" class="error-msg d-none">
          This user doesn't exists.
        </div>
      </div>

      <app-button-wo-icon
        [content]="'Send me the email'"
        [colorStyle]="'main-color-style'"
        [height]="'51px'"
        [fontSize]="'21px'"
        [fontWeight]="'700'"
        (click)="resetPassword()"
      ></app-button-wo-icon>
    </form>
  </main>
</app-auth-base>

<!-- <div id="confirmModal" class="confirm-modal">
    <img src="../assets/img/icons/email-send.svg" alt="Email send" />
    An E-Mail has been sent to you
  </div> -->
