<app-auth-base>
  <main>
    <h1>Log in</h1>
    <form
      [formGroup]="loginForm"
      class="user-form"
      id="login-form"
      (ngSubmit)="login()"
    >
      <div class="input-wrapper">
        <input
          required
          type="text"
          placeholder="Username"
          formControlName="username"
        />
        <img src="./assets/img/icons/login-email.svg" alt="" />
        <div id="errorTagEmail" class="error-msg d-none">
          This user doesn't exists.
        </div>
      </div>
      <div class="input-wrapper">
        <input
          required
          formControlName="password"
          [type]="passwordIsHidden ? 'password' : 'text'"
          placeholder="Password"
        />
        @if (password?.value.length > 0 && !passwordIsHidden) {
        <img
          (click)="togglePasswordVisibility()"
          id="loginPwImg"
          src="./assets/img/icons/login-password-show.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        } @else if (password?.value.length > 0) {
        <img
          (click)="togglePasswordVisibility()"
          id="loginPwImg"
          src="./assets/img/icons/login-password-hidden.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        }@else {
        <img
          id="loginPwImg"
          src="./assets/img/icons/login-password.svg"
          alt=""
        />
        }

        <div id="errorTagPw" class="error-msg d-none">Wrong password</div>
      </div>
      <input type="submit" id="submit-form" class="d-none" />
    </form>

    <div class="reset-password-container">
      <label class="container">
        <input id="rememberMe" class="checkmark" type="checkbox" />
        Remember me
      </label>
      <a [routerLink]="'/forgot-password'" class="forgot-password"
        >Forgot my password</a
      >
    </div>

    <div class="btn-container">
      <app-button-wo-icon
        [colorStyle]="'main-color-style'"
        [fontSize]="buttonFontSize"
        [fontWeight]="'700'"
        [content]="'Log In'"
        [height]="buttonHeight"
        [width]="loginButtonWidth"
        (click)="login()"
      ></app-button-wo-icon>

      <app-button-wo-icon
        [colorStyle]="'secondary-color-style'"
        [fontSize]="buttonFontSize"
        [fontWeight]="'700'"
        [content]="'Guest Log In'"
        [height]="buttonHeight"
        [width]="guestLoginButtonWidth"
        (click)="guestLogin()"
      ></app-button-wo-icon>
    </div>
  </main>
</app-auth-base>
