@import "../../../../styles.scss";
@import "../../../../mixin.scss";

.task {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 19px;
  width: 100%;
  background: white;
  border-radius: 30px;
  box-shadow: $shadoe-backlog-box;
  cursor: pointer;
  position: relative;
}

.mobile-category-box {
  display: none;
  z-index: 100;
  position: absolute;
  top: 12px;
  right: 12px;
}

.mobile-category-box > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.mobile-category-box > img:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.task-category {
  padding: 4px 25px;
  border-radius: 8px;
  width: fit-content;
  color: white;
}

.task-title-description-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-title-description-box b {
  color: $main-color;
  word-wrap: break-word;
}

.task-title-description-box p {
  color: rgba(168, 168, 168, 1);
  line-height: 120%;
  word-wrap: break-word;
}

.subtask-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar-box {
  width: 138px;
  height: 8px;
  background-color: rgba(244, 244, 244, 1);
}

.progress-bar-bar {
  background-color: rgba(41, 171, 226, 1);
  height: 100%;
  width: 0%;
}

.subtask-text-box {
  font-size: 12px;
}

.assign-and-prio-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#assigned-to-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#assigned-to-box > div {
  display: flex;
  align-items: center;
  gap: 25px;
}

.assigned-to-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 58px;
  border: 1px solid white;
  color: white;
  font-size: 12px;
  flex: 0 0 auto;
}

.assigned-to-overview-box {
  display: flex;
  width: 80%;
  overflow-x: auto;
}

.assigned-to-overview-box > span:not(:first-child) {
  margin-left: -10px;
}

.assigned-to-display-maximized {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 58px;
  border: 1px solid white;
  color: white;
  font-size: 16px;
}

.task-prio-box {
  width: 32px;
}
