@import "../../../../styles.scss";
@import "../../../../mixin.scss";

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: $bg-color;
  padding: 50px;
  width: calc(100vw - 232px);
  width: calc(100svw - 232px);
  min-height: calc(100vh - 95px);
  min-height: calc(100svh - 95px);

  overflow: hidden;

  @media (max-width: 1100px) {
    padding: 33px;
  }

  @media (max-width: 850px) {
    width: 100vw;
    width: 100svw;
    min-height: calc(100vh - 95px - 90px);
    min-height: calc(100svh - 95px - 90px);

    margin-bottom: 90px;
  }

  .summary-head {
    @include dFlex($jc: flex-start);

    @media (max-width: 850px) {
      flex-direction: column;
      align-items: flex-start;
    }

    h1 {
      font-size: 55px;

      @media (max-width: 850px) {
        margin: 20px 0 20px 0;
      }
    }
  }
}

.summary-h2 {
  font-size: 17px;
  font-weight: 400;
  color: $main-color;
}

.summary-h3 {
  display: none;

  @media (max-width: 850px) {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
}

.summary-hr1 {
  border-color: $secondary-color;
  background-color: $secondary-color;
  border: none;
  border-radius: 10px;
  width: 2px;
  height: 35px;
  margin-right: 35px;
  margin-left: 35px;

  @media (max-width: 850px) {
    display: none;
  }
}

.mobile-summary-hr1 {
  display: none;

  @media (max-width: 850px) {
    border-color: $secondary-color;
    background-color: $secondary-color;
    border: none;
    border-radius: 10px;
    width: 3px;
    height: 90px;
    margin: -10px 45px;
    transform: rotate(90deg);
  }
}

.summary-container {
  @include dFlex($jc: flex-start, $gp: 40px);

  @media (max-width: 1100px) {
    gap: 20px;
  }

  @media (max-width: 850px) {
    justify-content: center;
  }

  .left-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex-wrap: wrap;

    @media (max-width: 450px) {
      display: flex;
      align-items: center;
    }

    .first-line {
      @include dFlex($jc: flex-start, $gp: 15px);

      @media (max-width: 450px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .second-line {
      display: flex;
      align-items: center;
    }

    .third-line {
      display: flex;
      justify-content: flex-start;
      gap: 30px;

      @media (max-width: 450px) {
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
  }

  .right-container {
    @media (max-width: 850px) {
      width: 100vw;
      width: 100svw;
      height: 100vh;
      height: 100svh;
      @include dFlex();
      flex-direction: column;
      flex-wrap: wrap;
      background-color: $bg-color;
      text-align: center;
      animation: fadeOutGreeting 1s 1s ease-in forwards;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

.greetings {
  color: $main-color;
  font-size: 45px;
  font-weight: 400;

  @media (max-width: 950px) {
    font-size: 40px;
  }

  @media (max-width: 850px) {
    font-size: 60px;
  }
}

.user-name {
  color: $secondary-color;
  font-size: 60px;
  font-weight: 700;
  margin-top: 5px;

  @media (max-width: 950px) {
    font-size: 35px;
  }

  @media (max-width: 850px) {
    font-size: 60px;
  }
}

@keyframes fadeOutGreeting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
