@import "../../../../../styles.scss";
@import "../../../../../mixin.scss";

.task-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include dFlex();
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 110;

  > form {
    max-height: 90vh;
    max-height: 90svh;
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    background-color: white;
    border-radius: 30px;
    box-shadow: $nuevo;
    font-size: 21px;
    position: relative;
    overflow-y: auto;
  }
}

.edit-submit-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.edit-form {
  margin-right: -42px;
  padding-right: 4px;
}

#edit-assigned-users-box {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.overlay-close-button {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
