@import "../../../../styles.scss";
@import "../../../../mixin.scss";

main {
  background-color: $bg-color;
  padding: 35px 116px 35px 116px;
  width: auto;
  min-height: calc(100vh - 95px);
  min-height: calc(100svh - 95px);

  @media screen and (max-width: 850px) {
    padding: 35px;
    min-height: unset;
    overflow-y: auto;
    height: calc(100vh - 95px - 90px);
    height: calc(100svh - 95px - 90px);
  }
}

.not-home-route {
  min-height: 100svh;
}

.arrow-left {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 850px) {
    position: absolute;
    right: 32px;
    top: 16px;
  }

  img {
    cursor: pointer;
  }
}

h1 {
  font-size: 60px;
  margin: 0 0 40px 0;
}

h2 {
  margin: 0;
}

h3 {
  display: none;

  @media screen and (max-width: 850px) {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
  }
}

.legal-text {
  margin-top: 16px;
  margin-bottom: 35px;
}

@media (max-width: 850px) {
  .legal-h3 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
  }
}
