<main (click)="closeOverlay(false, false, -1)">
  <div
    class="modal-inner-container"
    [ngClass]="{ 'modal-animation': animation }"
    (click)="$event.stopPropagation()"
  >
    <div class="left-frame-add">
      <img src="./assets/img/logos/logo_Light.png" alt="Join logo" />
      <div class="contact-info">
        <h1>{{ edit ? "Edit contact" : "Add contact" }}</h1>
        @if (!edit) {
        <h2>Tasks are better with a team!</h2>
        }
      </div>
    </div>

    <div class="right-frame-add">
      @if(!edit){
      <div class="img-wrapper">
        <img src="./assets/img/icons/default-user.svg" alt="" />
      </div>
      } @else {
      <div class="img-wrapper" [style.background-color]="contact.color">
        {{ contact.initials }}
      </div>
      }

      <form
        class="user-form"
        [formGroup]="contactForm"
        (submit)="addOrEditContact()"
      >
        <div class="input-wrapper">
          <input
            formControlName="name"
            required
            type="text"
            placeholder="Name"
          />
          <img src="./assets/img/icons/user-icon.svg" alt="" />
        </div>
        <div class="input-wrapper">
          <input
            formControlName="email"
            required
            type="email"
            placeholder="Email"
          />
          <img src="./assets/img/icons/login-email.svg" alt="" />
        </div>
        <div class="input-wrapper">
          <input
            formControlName="phone"
            required
            type="number"
            placeholder="Phone"
          />
          <img src="./assets/img/icons/telephone.svg" alt="" />
        </div>

        <div class="button-wrapper">
          @if (!edit) {
          <app-button-with-icon
            [content]="'Close'"
            [colorStyle]="'secondary-color-style'"
            [imgSrc]="'./assets/img/icons/cancel-icon.svg'"
            (click)="closeOverlay(false, false, -1)"
          ></app-button-with-icon>
          }@else {
          <app-button-with-icon
            [content]="'Delete'"
            [colorStyle]="'secondary-color-style'"
            [imgSrc]="'./assets/img/icons/cancel-icon.svg'"
            (click)="deleteContact()"
          ></app-button-with-icon>
          } @if (!edit) {
          <app-button-with-icon
            [content]="'Create Contact'"
            [colorStyle]="'main-color-style'"
            [imgSrc]="'./assets/img/icons/checkmark-icon.svg'"
            [type]="'submit'"
          ></app-button-with-icon>
          }@else {
          <app-button-with-icon
            [content]="'Save'"
            [colorStyle]="'main-color-style'"
            [imgSrc]="'./assets/img/icons/checkmark-icon.svg'"
            [type]="'submit'"
          ></app-button-with-icon>
          }
        </div>
      </form>
    </div>
  </div>
</main>
