<app-auth-base>
  <main class="login-modal sign-up-modal">
    <h1>Sign Up</h1>

    <a href="index.html">
      <img
        class="back-arrow"
        src="assets/img/icons/sign-up-arrow-left.svg"
        alt="Arrow to get back"
        title="Arrow to get back"
      />
    </a>

    <form
      [formGroup]="signUpForm"
      class="user-form"
      id="login-form"
      (ngSubmit)="signUp()"
    >
      <div class="input-wrapper">
        <input
          required
          formControlName="username"
          type="text"
          placeholder="Name"
        />
        <img src="assets/img/icons/sign-up-name.svg" alt="" />
      </div>
      <div class="input-wrapper">
        <input
          required
          formControlName="email"
          type="email"
          placeholder="Email"
        />
        <img src="assets/img/icons/login-email.svg" alt="" />
        <div id="errorTagEmail" class="error-msg d-none">
          This user already exists.
        </div>
      </div>
      <div class="input-wrapper">
        <input
          formControlName="password"
          required
          [type]="passwordIsHidden ? 'password' : 'text'"
          placeholder="Password"
        />
        @if (password?.value.length > 0 && !passwordIsHidden) {
        <img
          (click)="togglePasswordVisibility()"
          src="./assets/img/icons/login-password-show.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        } @else if (password?.value.length > 0) {
        <img
          (click)="togglePasswordVisibility()"
          src="./assets/img/icons/login-password-hidden.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        }@else {
        <img
          id="loginPwImg"
          src="./assets/img/icons/login-password.svg"
          alt=""
        />
        }
      </div>
      <div class="input-wrapper">
        <input
          formControlName="passwordRepeat"
          required
          [type]="passwordRepeatIsHidden ? 'password' : 'text'"
          placeholder="Confirm Password"
        />
        @if (passwordRepeat?.value.length > 0 && !passwordRepeatIsHidden) {
        <img
          (click)="togglePasswordRepeatVisibility()"
          src="./assets/img/icons/login-password-show.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        } @else if (passwordRepeat?.value.length > 0) {
        <img
          (click)="togglePasswordRepeatVisibility()"
          src="./assets/img/icons/login-password-hidden.svg"
          alt=""
          [style.cursor]="'pointer'"
        />
        }@else {
        <img
          id="loginPwImg"
          src="./assets/img/icons/login-password.svg"
          alt=""
        />
        }
      </div>
      <div class="btn-container">
        <app-button-wo-icon
          [colorStyle]="'main-color-style'"
          [fontSize]="buttonFontSize"
          [fontWeight]="'700'"
          [content]="'Sign Up'"
          [height]="buttonHeight"
          [width]="buttonWidth"
          [type]="'submit'"
        ></app-button-wo-icon>
      </div>
    </form>
  </main>
</app-auth-base>
