<main>
  <app-button-with-icon
    [content]="'New Contact'"
    [colorStyle]="'main-color-style'"
    [imgSrc]="'./assets/img/icons/add-contact-icon.svg'"
    (click)="toggleAddContactModal('open')"
    id="newContact"
  ></app-button-with-icon>

  <section class="contactsList">
    @for (initial of initials; track $index) {
    <div class="contact-wrapper">
      <span class="seperator-list">{{ initial }}</span>
      <div class="line-list"></div>

      @for (contact of dataManager.userContacts; track $index) { @if
      (contact.name.charAt(0).toUpperCase() === initial) {
      <app-contact
        (click)="showContact(contact)"
        [contact]="contact"
        [active]="contact === currentContact"
      ></app-contact>
      } }
    </div>

    }
  </section>

  <section id="contactsOverview">
    <img
      id="contactsBackImg"
      class="contacts-back"
      onclick="closeContact()"
      src="./assets/img/icons/arrow-left.svg"
    />

    <div id="sub-header" class="sub-header">
      <h1>Contacts</h1>
      <div class="line"></div>
      <h3>Better with a team</h3>
    </div>

    <div id="sub-header-mobile" class="sub-header">
      <p>Kanban Project Managment Tool</p>
      <h1>Contacts</h1>
      <h3>Better with a team</h3>
      <div class="line"></div>
    </div>

    <div #currentContactDiv class="currentContact">
      @if (currentContact) {<app-current-contact-display
        [currentContact]="currentContact"
        (openAddTaskEvent)="toggleAddTaskOverlay('open')"
        (openEditContactEvent)="toggleEditContactModal('open')"
      ></app-current-contact-display>
      }
    </div>
  </section>

  @if (addContactOverlayOpen) {
  <app-add-contact-overlay
    [animation]="addContactOverlayAnimation"
    (closeOverlayEvent)="toggleAddContactModal('close')"
  ></app-add-contact-overlay>
  } @if (editContactOverlayOpen) {
  <app-add-contact-overlay
    [animation]="editContactOverlayAnimation"
    [contact]="currentContact"
    [edit]="true"
    (closeOverlayEvent)="toggleEditContactModal('close')"
  ></app-add-contact-overlay>
  } @if (addTaskOverlayOpen) {
  <div class="add-task-overlay-wrapper" (click)="toggleAddTaskOverlay('close')">
    <app-add-task
      [ngClass]="{ animate: addTaskOverlayAnimation }"
      [overlay]="true"
      (closeOverlayEvent)="toggleAddTaskOverlay('close')"
    ></app-add-task>
  </div>
  }
</main>
